// DEFAULT DOCUMENT STYLES
html {
  box-sizing: border-box;
  font-size: $fontsize+px; // $fontsize - береться из _vars.scss
}

*,
*:before,
*:after {
  box-sizing: inherit;
  outline: none;
}

input,
textarea {
  outline: none;

  &:focus:required:invalid {
    border-color: red
  }

  &:required:valid {
    border-color: green
  }
}

ol,
ul,
li,
p {
  margin: 0;
  padding: 0;
}

::placeholder {
  color: $heading-color;
}

::selection {
  background-color: $primary-accent;
  color: #fff;
}

body {
  font-family: $text-font;
  font-size: inherit;
  min-width: 320px;
  position: relative;
  overflow-x: hidden;
  background-color: $primary-bgcolor;
  color: set-text-color($primary-bgcolor);
  //color: $main-font-color;
}

img {
  max-width: 100%;
}